<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Audiowide"
    />
    <style>
      .img1 {
        position: relative;
        width: 100%;
      }
      .head1 {
        font-family: "Audiowide", sans-serif;
        color: whitesmoke;
        position: absolute;
        top: 60%;
        width: 100%;
        text-align: left;
        padding: 10px 10px 10px 80px;
        margin: 20px;
        font-size: 50px;
      }
      .heading {
        text-align: center;
        font-family: "Audiowide", sans-serif;
        font-size: 50px;
        text-shadow: 3px 3px 3px #ababab;
        color: rgb(0, 0, 0);
        padding: 5% 5% 5% 5%;
      }
      .farmer {
        width: 50%;
        height: 50%;
      }
      .body1 {
        width: 50%;
        float: right;
        text-align: center;
        padding-top: 100px;
      }
      .heading2 {
        text-align: center;
        font-family: "Trirong", serif;
      }
    </style>
    <title>All Indian News</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-danger fixed-top bg-danger">
      <a class="navbar-brand text-light font-weight-bolder" href="/"
        >All Indian News</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link text-light font-weight-bolder" href="/"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-light font-weight-bolder" href="/business"
              >Business</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-light font-weight-bolder" href="/politics"
              >Politics</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-light font-weight-bolder" href="/tech"
              >Tech</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-light font-weight-bolder" href="/about"
              >About</a
            >
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input
            class="form-control mr-sm-2"
            type="text"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
      </div>
    </nav>
    <img
      class="img1"
      width="100%"
      src="https://webapi.project-syndicate.org/library/6bcb7e9ca363d4f522936a407cd829e1.2-1-super.1.jpg"
      alt=""
    />
    <h2 class="head1">
      POLITICS NEWS INDIA <br />
      The Lost Liberal Legal Imagination
    </h2>
    <div class="container">
      <h1 class="heading">POLITICS News</h1>
    </div>
    <img
      class="farmer"
      src="https://southasianvoices.org/wp-content/uploads/2022/06/wheat-1095x616.jpg"
      alt=""
    />
    <div class="body1">
      <h5 class="title">
        The Impact of the War in Ukraine on the Indian Economy
      </h5>
      <p class="text">
        The Indian Rupee recently plunged to a record low of 77.9 against the US
        Dollar amidst growing uncertainty within domestic equity markets. Two
        principal factors are directly responsible for this decline in the value
        of the Indian Rupee.
      </p>
    </div>
    <hr />
    <img
      class="farmer"
      src="https://southasianvoices.org/wp-content/uploads/2022/06/infrastructure-1024x652.png"
      alt=""
    />
    <div class="body1">
      <h5 class="title">Short and Long-Term Mitigation Strategies</h5>
      <p class="text">
        India can use its leverage and build towards resolving the domestic
        crisis at home by sourcing Russian oil to meet its ensuing energy
        security needs. As a fuel dependent economy, “India needs oil to run the
        country” since oil is an everyday commodity that is used by masses and
        classes alike.
      </p>
    </div>
    <hr />
    <img
      class="farmer"
      src="https://webapi.project-syndicate.org/library/6f2607c562ac96992966fec966d1b651.4-3-large.1.jpg"
      alt=""
    />
    <div class="body1">
      <h5 class="title">The Climate Loss and Damage Fund Is Coming</h5>
      <p class="text">
        Last year’s UN Climate Change Conference (COP27) ended with a historic
        agreement to provide financial assistance to developing countries
        suffering the adverse effects of global warming. But to ensure the fund
        operates as intended, it is crucial to enter COP28 with a clear,
        detailed, and unified strategy for implementation.
      </p>
    </div>
    <hr />
    <h1 class="heading2 text-light bg-dark">THE ECONOMICS TIMES</h1>
    <div class="container text-center">
      <h3 class="text-center">1. Uneven growth trajectory</h3>
      <p>
        India became the world’s fifth largest economy by overtaking the United
        Kingdom last year. It is now behind only the US, China, Japan and
        Germany. However, India’s GDP growth trajectory has remained uneven in
        recent years. The main reason is Covid-19, a global outbreak with severe
        domestic repercussions that resulted in a contraction of the economy
        during the financial year 2020-21. Even before Covid halted economic
        activities, the economy was on a downward track after registering over
        an 8% growth rate in 2016-17 — the year that saw demonetisation of
        high-value currency notes of denominations Rs 1,000 and Rs 500. In the
        following years, India’s growth rate slowed down to 6.8% in 2017-18 — as
        the businesses adjusted to the change in indirect tax system after the
        introduction of GST with effect from July 1, 2017. It came down further
        to 6.45% in 2018-19 and 3.87% in 2019-20. During the Covid lockdown
        (financial year 2020-21), the growth plummeted to -5.83%. However, it
        bounced back to 9.05% in 2021-22, primarily on the previous year’s low
        base. In 2022-23, the growth again moderated to 7%.Per capita income
        followed the same trajectory as the rise and fall in the GDP. The annual
        rate of growth in the Per Capita Income has been recorded in the range
        of -8.86% to 7.59% during the last nine years. (See Chart-1).
      </p>
      <img
      width="100%"
      height="500px"
      src="https://images.indianexpress.com/2023/05/chart-1.jpg"
      alt=""
      />
    </div>
      <hr />
    <div class="container">
      <h3 class="text-center">
        2. FDI scaled new heights before registering a fall
      </h3>
      <p>
        One area that has remained in focus of the Modi government is
        investment. The Centre has taken various steps to encourage domestic
        entrepreneurs and to attract Foreign Direct Investment (FDI). Be it
        ‘ease of doing business’, focus on minimising compliance, liberalisation
        of the FDI policy for various sectors of the economy or ushering in
        legislative reforms, the government has taken several initiatives to
        create a favourable atmosphere for investment. These efforts have
        yielded some fruits. For instance, FDI inflows increased from $45
        billion in 2014-15 to $84.83 billion in 2021-22. However, it registered
        a fall in the following year and declined to $70 billion in 2022-23.
        (See Chart-2)
      </p>
      <img
        width="100%"
        height="500px"
        src=" https://images.indianexpress.com/2023/05/chart-2-1.jpg"
        alt=""
      />
    </div>
    <hr />
    <div class="container">
      <h3 class="text-center">
        3. Low tax-GDP ratio, continuing high currency usage
      </h3>
      <p>
        The government took a bold decision to demonetise high-value currency
        notes in November 2016. The move was expected to hit the black economy
        and move towards lesser use of cash. However, data shows that neither
        has the tax-GDP ratio increased, nor has the use of cash gone down. For
        instance, the direct tax-GDP ratio has remained in the range of
        4.78-6.02% during the last nine years. (See Chart-7). On the contrary,
        the currency to GDP ratio has increased from 11.6% in 2014-15 to 14.4%
        in 2020-21. However, it came down marginally to 13.7% in 2021-22. This
        shows that despite a push for digital transactions through new
        initiatives like UPI, the use of cash is still on the rise. (See
        Chart-3)
      </p>
      <img
        width="100%"
        height="500px"
        src="https://images.indianexpress.com/2023/05/chart-7.jpg"
        alt=""
      />
    </div>
    <p class="text-center bg-dark text-light flex">
      &copy; 2023 All News. All rights reserved.
    </p>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
  </body>
</html>
